ProgArt.xcodeproj/project.xcworkspace/xcshareddata/ProgArt.xccheckout
ProgArt.xcodeproj/project.xcworkspace/xcuserdata/alterego4.xcuserdatad/UserInterfaceState.xcuserstate
ProgArt.xcodeproj/project.xcworkspace/xcuserdata/alterego4.xcuserdatad/WorkspaceSettings.xcsettings
ProgArt.xcodeproj/xcuserdata/alterego4.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ProgArt.xcodeproj/xcuserdata/alterego4.xcuserdatad/xcschemes/ProgArt.xcscheme
ProgArt.xcodeproj/xcuserdata/alterego4.xcuserdatad/xcschemes/xcschememanagement.plist
